body {
  overflow: hidden;
  background-image: linear-gradient(to right bottom, rgb(20, 247, 111), rgb(154, 179, 0));
}

html {
  height: 100vh;
}

h3 {
  font-size: 40px !important;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  /* height: 100%; */
  width: 100%;
  transform: translateY(-130px);
  z-index: -1;
}

.main-header, .sub-header {
  background-color: rgba(255,255,255,.8);
  border-radius: 2px;
  padding: 10px 15px;
}

.register-btn {
  background-color: rgb(255,255,255);
  border-radius: 40px;
  padding: 15px 45px;
  font-size: 35px !important;
  height: 50%;
  width: 100px;
  color: black;
  text-decoration: none;
  transition: all .2s;
}

.register-btn:hover {
  background-color: #eee;
  color: black;
  text-decoration: none;
}

.authenticated-container {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 5px;
}
