<!DOCTYPE html>
{% extends 'triv_tracker_app/base.html' %}
{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" href="{% static 'registration/base.css' %}">
{% endblock %}
{% if form.errors %}
  {% for field in form %}
      {% for error in field.errors %}
          <div class="alert alert-danger alert-dismissible mb-0 text-left">
            <button class="close" type="button" data-dismiss="alert">
                <span>&times;</span>
            </button>
            <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endfor %}
{% endif %}
{% block body %}
  <div class="float-container text-center my-auto">
    {% if validlink %}
      <title>Change Password</title>
      <h1 class="display-4">Change Password</h1>
      <form class="mt-4" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Change password</button>
      </form>
    {% else %}
      <title>Expired Link</title>
      <h1 class="display-4">Expired Link</h1>
      <p class="mt-4">
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
      </p>
    {% endif %}
  </div>
  <script>
    document.querySelector("ul").style.display = "none"
    document.querySelector("input[name='new_password1']").className = "form-control d-inline-block w-50"
    document.querySelector("input[name='new_password1']").setAttribute("placeholder", "Password")
    document.querySelector("input[name='new_password2']").className = "form-control d-inline-block w-50"
    document.querySelector("input[name='new_password2']").setAttribute("placeholder", "Confirm Password")
  </script>
{% endblock %}
