<!DOCTYPE html>
{% extends 'triv_tracker_app/base.html' %}
{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" href="{% static 'registration/base.css' %}">
{% endblock %}
{% block body %}
  <title>Reset Password</title>
  <div class="float-container text-center">
    <h3 class="display-4">Forgot password</h3>
    <form class="mt-5" method="post">
      {% csrf_token %}
      {{ form }}
      <button style="transform: translateY(-1px)" class="btn btn-primary" type="submit">Submit</button>
    </form>
    <script>
      document.querySelector("input[type='email']").className = "form-control d-inline-block w-50"
      document.querySelector("input[type='email']").setAttribute("placeholder", "Email")
    </script>
  </div>
{% endblock %}
