{% load staticfiles %}
{% if profile.is_mentor %}
  {% include 'triv_tracker_app/mentor_base.html' %}
{% else %}
  {% include 'triv_tracker_app/base.html' %}
{% endif %}
{% block head %}
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="row mb-4" style="height: 38.5rem;">

    <div class="col-md-6" style="background-color: rgb(0, 200, 32);">
        <div class="d-flex h-100 my-auto py-auto align-self-center">
            <div class="container row justify-content-center align-self-center" data-aos="fade-up-right" data-aos-duration="1200">
                <h1 class="display-4 d-block">Contact Us</h1>
            </div>
        </div>
    </div>

    <div class="col-md-6">

        <div class="container d-flex h-100">

            <div class="container row justify-content-center align-self-center" data-aos="fade-left" data-aos-duration="1200">

                <form method="POST" action="https://formspree.io/official.hackspace@gmail.com">
                    <div class="row">
                        <div class="form-group col">
                            <label for="inputFirstName">First Name</label>
                            <input type="text" class="form-control" id="inputFirstName" placeholder="First name">
                        </div>
                        <div class="form-group col">
                            <label for="inputLastName">Last Name</label>
                            <input type="text" class="form-control" id="inputLastName" placeholder="Last name">
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="inputMsg">Message</label>
                        <textarea class="form-control" id="inputMsg" rows="3" placeholder="Message"></textarea>
                    </div>
                    <div class="text-center">
                      <input type="submit" class="btn btn-success" value="Send">
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init({ once: true });
</script>
{% endblock %}
