{% extends 'triv_tracker_app/base.html' %}
{% load staticfiles %}
{% block head %}
  <link rel= "stylesheet" type="text/css" href="{% static 'triv_tracker_app/register.css' %}">
{% endblock %}
{% block body %}
{% if form.errors %}
  {% for field in form %}
      {% for error in field.errors %}
          <div class="alert alert-danger alert-dismissible mb-0 text-left">
            <button class="close" type="button" data-dismiss="alert">
                <span>&times;</span>
            </button>
            <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endfor %}
{% endif %}
<div class="container text-center">
  <h1 class="display-2 mt-4">TriV Tracker</h1>
  <div class="container">
    <form class="form" enctype="multipart/form-data" method="post">
      <h1 class="display-4">Login</h1>
      {% csrf_token %}
      {{form}}
      <br>
      <input class="btn btn-primary mt-3" type="submit" value="Login">
      <p style="font-size: 15px;" class="lead">Don't have an account? <a href="/register/">Register Here</a></p>
    </form>
  </div>
</div>
{% endblock %}
