{% extends 'triv_tracker_app/base.html' %}
{% load staticfiles %}
{% block head %}
  <link rel= "stylesheet" type="text/css" href="{% static 'triv_tracker_app/style1.css' %}">
{% endblock %}
{% block body %}
{% if form.errors %}
  {% for field in form %}
      {% for error in field.errors %}
          <div class="alert alert-danger alert-dismissible mb-0 text-left">
            <button class="close" type="button" data-dismiss="alert">
                <span>&times;</span>
            </button>
            <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endfor %}
{% endif %}
<h1>Welcome to TriValley CoderDojo!</h1>
<h3>Please create an account.</h3>
<div class= "Box" >
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <fieldset>
        <legend>Login</legend>
        {{form}}
        <input type="submit" value="Login">
      </fieldset>
    </form>
  </div>
  <div class= "Button">
    <p>Forgot your password? <a href="/password_reset/">Reset password</a></p>
    <p>Don't have an account? <a href="/register/">Register Here</a></p>

  </div>
{% endblock %}
