{% extends 'triv_tracker_app/base.html' %}
{% load staticfiles %}
{% block head %}
  <link rel= "stylesheet" type="text/css" href="{% static 'triv_tracker_app/register.css' %}">
{% endblock %}
{% block body %}
  {% if user_form.errors %}
    {% for field in user_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible mb-0 text-left">
              <button class="close" type="button" data-dismiss="alert">
                  <span>&times;</span>
              </button>
              <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
  {% endif %}
  <div class="container text-center">
    <h1 class="display-2">Register</h1>
    <form class="form" enctype="form multipart/form-data" method="post">
      {% csrf_token %}
      {{user_form}}
      <input class="btn btn-primary mt-3" type="submit" value="Register">
      <p style="font-size: 15px;" class="lead">Already have an account? <a href="/login/">Login Here</a></p>
    </form>
  </div>
{% endblock %}
