{% extends 'triv_tracker_app/base.html' %}
{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" href="{% static 'errors/errors.css' %}">
{% endblock %}
{% block body %}
  <title>Internal Server Error</title>
  <div class="float-container text-center">
    <h1 class="display-4">500 - Internal Server Error</h1>
    <p class="lead">We're sorry, but we are having some technical difficulties with the server. We are currently working on this error, but you can notify us of this issue through the contact us page.</p>
    <a href="/" class="btn btn-primary">Home Page</a>
  </div>
{% endblock %}
